<div class="rst-versions" role="note" aria-label="versions">
    <!-- sadnav -->
    <ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-5970675603981498"
     data-ad-slot="9255909819"></ins>
    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
    <span class="rst-current-version" data-toggle="rst-current-version">
          <a href="{{ config.repo_url }}" class="fa fa-github" style="float: left; color: #fcfcfc"> GitHub</a>
      {% if page.previous_page %}
        <span><a href="{{ page.previous_page.url|url }}" style="color: #fcfcfc;">&laquo; Previous</a></span>
      {% endif %}
      {% if page.next_page %}
        <span style="margin-left: 15px"><a href="{{ page.next_page.url|url }}" style="color: #fcfcfc">Next &raquo;</a></span>
      {% endif %}
    </span>
</div>
